.nested, .overlay
{
  position: absolute;
  top: 140px;
  left: 140px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

.navbar .nav > li {margin-left: 45px; float: left !important; width: 205px !important;}